/* div{
    width: 400px;
    height: 200px;
    background-color: yellow;
}  */

/* We will see object fit and obect positioning.
Object fit has Cover and Contain */
/* Cover will cover the DIV without cropping */
/* Contain will crop the image to fit the DIV */
/* With object positioning you will be able to position the 
image along the x and y axis */

 /* img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: 0px 0px;
}  */

div{
    width:1000px;
    height:500px;
    background-color: yellowgreen;
    background-image: url('./Char_Profile_Batman.avif'); 
    background-repeat:no-repeat; 
    /* same like object fit */
    /*background-size: cover;
    /* same like object position */
    background-position: 0px 0px; */
}






